In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Time Series.xlsx')

In [3]:
data['Start'] = pd.to_datetime(data['Start'])
data['End'] = pd.to_datetime(data['End'])

In [4]:
data.sort_values(by=['Name', 'Start'], inplace=True)

In [5]:
continuous_periods = []

for name in data['Name'].unique():
    person_data = data[data['Name'] == name]
    start_time = person_data.iloc[0]['Start']
    end_time = person_data.iloc[0]['End']
    activities = [person_data.iloc[0]['Activity']]
    
    for i in range(1, len(person_data)):
        if person_data.iloc[i]['Start'] <= end_time:
            end_time = max(end_time, person_data.iloc[i]['End'])
            activities.append(person_data.iloc[i]['Activity'])
        else:
            continuous_periods.append({'Name': name, 'Start': start_time, 'End': end_time, 'Activities': activities})
            start_time = person_data.iloc[i]['Start']
            end_time = person_data.iloc[i]['End']
            activities = [person_data.iloc[i]['Activity']]
    
    continuous_periods.append({'Name': name, 'Start': start_time, 'End': end_time, 'Activities': activities})

In [6]:
continuous_periods_df = pd.DataFrame(continuous_periods)

In [7]:
continuous_periods_df.to_excel('continuous_periods.xlsx', index=False)

In [8]:
data2 = pd.read_excel('continuous_periods.xlsx')

In [9]:
data2.head()

,Name,Start,End,Activities
0,Deepti,2023-03-29 15:31:52.620,2023-10-15 15:31:52.620,"['Business Development', 'Reply to Customers',..."
1,Jyoti,2023-03-29 15:31:52.620,2023-10-15 13:07:52.620,"['Business Development', 'Inspection', 'Fund r..."
2,Priyanka,2023-03-29 15:31:52.620,2023-10-15 15:31:52.620,"['Business Development', 'Remote Inspection', ..."
3,Ravi,2023-03-29 15:31:52.620,2023-10-15 08:19:52.620,"['Call', 'Call', 'Fund raising', 'Call', 'Fund..."
4,Ravi,2023-10-15 10:43:52.620,2023-06-10 17:55:52.620,['Send Email']

In [10]:
data2.shape

(15, 4)

In [11]:
data2

,Name,Start,End,Activities
0,Deepti,2023-03-29 15:31:52.620,2023-10-15 15:31:52.620,"['Business Development', 'Reply to Customers',..."
1,Jyoti,2023-03-29 15:31:52.620,2023-10-15 13:07:52.620,"['Business Development', 'Inspection', 'Fund r..."
2,Priyanka,2023-03-29 15:31:52.620,2023-10-15 15:31:52.620,"['Business Development', 'Remote Inspection', ..."
3,Ravi,2023-03-29 15:31:52.620,2023-10-15 08:19:52.620,"['Call', 'Call', 'Fund raising', 'Call', 'Fund..."
4,Ravi,2023-10-15 10:43:52.620,2023-06-10 17:55:52.620,['Send Email']
5,Ravi,2023-10-15 10:43:52.620,2023-06-28 13:07:52.620,['Reporting']
6,Ravi,2023-10-15 10:43:52.620,2023-07-26 01:07:52.620,['Inspection']
7,Ravi,2023-10-15 10:43:52.620,2023-07-06 13:07:52.620,['Inspection']
8,Ravi,2023-10-15 13:07:52.620,2023-04-18 10:43:52.620,['Send Email']
9,Ravi,2023-10-15 13:07:52.620,2023-08-27 08:19:52.620,['Podcast']
10,Sharan,2023-03-29 15:31:52.620,2023-10-15 05:55:52.620,"['Inspection', 'Send Email', 'Fund raising', '..."
11,Sharan,2023-10-15 08:19:52.620,2023-07-20 08:19:52.620,['Fund raising']
12,Sharan,2023-10-15 08:19:52.620,2023-08-14 17:55:52.620,['Reporting']
13,Sharan,2023-10-15 08:19:52.620,2023-04-08 05:55:52.620,['Podcast']
14,Sharan,2023-10-15 15:31:52.620,2023-07-23 17:55:52.620,['Fund raising']